@import './base.styl'
@import './colors.styl'
// @import './animate.styl'

@import './utils.styl'
@import './media.styl'



body
  margin 0
  padding 0
  background fuchia


#root
  width 90vw
  max-height 86vh
  min-height 86vh
  font-family 'Lato', 'sans-serif'
  border-radius 5px !important
  overflow hidden
  background white


  
.main-content
  padding-top 30px
.tabs
  margin 0
  .tabs-item
    padding .4em .8em
    margin .3em .6em
    border-radius 4px
    background trasparent
    transition .4s
  .tabs-item-active
    background rgba(0, 0, 0, .1)

.app-header
  border-bottom 2px solid #ccc
  padding 0px 30px
  background darkblue
  position fixed
  z-index 10000
  width 100%
  .logo
    width 100px
    margin 0
    img
      width 100%
      height 100%

.my-nav-inbox
  min-width 270px 
  height 100%
  transition .4s
  border-right 2px solid #dbdbdb
  &-list
    margin 0
    &-item
      margin 0
      border-bottom 1px solid lightgray
      &-img
        width 50px
        height 50px
      &-copy
        padding 0
        &-person
          margin 0
          max-width 80%
          height 20px

          overflow hidden
        &-msg
          width 92%
          height 20px
          overflow hidden
      &-actions
        color gray
        position absolute
        right 5px
        top 26px
        font-size .9em
        &-action
          transition .3s
          &:hover
            color black
            cursor pointer
.my-nav
  min-width 270px 
  height 100%
  transition .4s
  border-right 2px solid #dbdbdb
  &-actions
      position absolute
      bottom 0
  &-list
    list-style none
    padding 10px 15px
    &-item
      border-bottom 1px solid lightgray
      color #0a3e62
      &:last-child
        border-bottom 0px
      &-icon
        margin-right 10px
      .my-badge
        position relative
        top 7px

      a
        color gray
        font-size 1.3em
        padding 15px 3px
        display block
        transition .5s
        &:hover
          padding-left 10px
          color #D21341 !important
        
input[type="checkbox"].check
 &:not(:checked), &:checked
   position absolute
   left -9999px
 &:not(:checked) + label, &:checked + label
   position relative
   padding-left 1.95em
   cursor pointer
 &:not(:checked) + label:before, &:checked + label:before
   content ''
   position absolute
   left 0
   top 0
   width 1.5em
   height 1.5em
   border 2px solid #ccc
   background #fff
   border-radius 4px
   box-shadow inset 0 1px 3px rgba(0, 0, 0, 0.1)
 &:not(:checked) + label:after, &:checked + label:after
   content '✔'
   position absolute
   top .2em
   left .2em
   font-size 1.2em
   line-height 0.8
   color gold
   transition all .2s
 &:not(:checked) + label:after
   opacity 0
   transform scale(0)
 &:checked + label:after
   opacity 1
   transform scale(1)
 &:disabled
   &:not(:checked) + label:before
     box-shadow none
     border-color #bbb
     background-color #ddd
   &:checked + label
     &:before
       box-shadow none
       border-color #bbb
       background-color #ddd
     &:after
       color #999
   + label
     color #aaa
 &:checked:focus + label:before, &:not(:checked):focus + label:before
   border 2px solid #4778d9


label:hover:before
  border 2px solid #4778d9 !important



.panel-header
  width 100%
  &-first
    width 30%
  &-second
    width 30%
  &-third
    width 18%
  &-fourth
    width 18%


.heightSectionScroll
  height calc(85vh - 27vh)
  overflow-y auto
.messageInput
  height 50px
  overflow-y auto
.message-actions
  border-top 2px solid lightgray
  width 90%
  margin-right auto
  margin-left auto
  padding 10px

.companyInfo-stateLine
  width 80%
  position relative
  &:after
    content ''
    width 84%
    background gray
    height 3px
    position absolute 
    top 23px
    left 70px

.skipSave
  position absolute
  bottom 20px
  right 40px

.activeItem
  width 30px !important
  height 30px !important
  background fuchia !important
  top -10px !important

.borderSectionBottom
  width 50px
  border-bottom 2px solid fuchia
  position absolute
  bottom -22px

.operatingDays-box
  padding 10px 15px
  height 200px
  overflow auto 
  margin-top 1px
  background #E1E2E3
  &-item
    margin-bottom 20px
  &-item:hover
    cursor pointer

.modal-mask
  position fixed
  z-index 9998
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .5)
  display table
  transition opacity .3s ease

.modal-wrapper
  display table-cell
  vertical-align middle


.modal-container
  width 45vw
  margin 0px auto
  padding 20px 10px
  background-color #fff
  border-radius 15px
  box-shadow 0 2px 8px rgba(0, 0, 0, .33)
  transition all .3s ease
  font-family Helvetica, Arial, sans-serif
  height 80vh

.modal-header h3
  margin-top 0
  color #42b983


.modal-body
  margin 20px 0

.modal-default-button
  float right

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter
  opacity 0

.modal-leave-active
  opacity 0

.modal-enter .modal-container,
.modal-leave-active .modal-container
  -webkit-transform scale(1.1)
  transform scale(1.1)
