@media (min-width: 980px)
	.rightToMobile
		position absolute
		right -100%
		transition .4s
		height 100vh
	#rightToggler
		display flex

// @media (max-width: 1400px)
// 	#app-box
// 		width 65vw !important


@media (max-width: 780px)
	.rightToMobile
		position absolute
		right -100%
		transition .4s
		height 100vh
	#rightToggler
		display flex	
		
		

@media (max-width: 600px)
	body,html
		font-size .9em !important
		h1,h2,h3,h4,h5,h6
			font-size calc(1.5em) !important
				